/*Overall CSS*/
body {
	background-color: black;
	font-family: 'Playfair Display', serif;
}

html {
	overflow-x:hidden;
}


/*Navigation Bar*/
.nav-item:hover , .navbar-brand:hover {
	text-decoration: underline;
}

#getStartedBtn{
	border: 2px solid black;
}

#getStartedBtn:hover {
	background-color: black;
	color: white
}

/*Features Part*/

/*Jumbotron*/
.bigHeader {
	font-size: 100px;
}

.btn-custom {
	border: 2px solid gray;
	border-radius: 0px;
}

.btn-custom:hover {
  	background-color: black;
  	color: white;
}

.homeJumbotron, header, nav {
	background-image: url('../jumbotron-background.jpg');
	width: 100%;
	background-attachment: fixed;
	font-family: 'Oswald', sans-serif;
	color: black;
	border-radius: 0px;
}

/*Classes*/
#card1 {
	background-color: pink;
}

#card2 {
	background-color: #fbffb8;
}

.carousel-control-prev-icon {
	border-radius: 100px;
	background-attachment: black;
}

.btn-bestseller {
	background-color: #f24462;
}

.btn-new {
	background-color: yellow;
}

.btn-black {
	background-color: black;
}

/*Testimonials*/
.img-thumbnail {
  padding: 0;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #dee2e6;
  max-width: 100%;
}

/*Footer*/

/*Additional*/

/*Log-in Page*/
form {
	font-family: 'Oswald', sans-serif;

}

.form-control {
	border-radius: 0px;
}

.form-control:focus {
  	border-color: gray;
  	outline: none;
  	box-shadow: 0 0 0 0.2rem gray;
}

.btn-custom {
	border: 2px solid white;
	border-radius: 0px;
	color: white;
}

.btn-custom:hover {
	color: gray;
	border-color: gray;
}

.logInRegisterQuestions {
	color: white;
}

.logInRegisterQuestions:hover {
	color: gray;
}

/*Courses*/
.fixed-btn {
	position: absolute;
	bottom: 0px;

}

/*Profile*/
.text-gray{
	color: #999796
}